@model FlightReservationsApplication.Models.Account

@{
    ViewData["Title"] = "Conectare";
}

<div class="overflow-hidden bg-white py-16 px-6 lg:px-8 lg:py-24">
  <div class="relative mx-auto max-w-xl">
    <svg class="absolute left-full translate-x-1/2 transform" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
      <defs>
        <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
    </svg>
    <svg class="absolute right-full bottom-0 -translate-x-1/2 transform" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
      <defs>
        <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
    </svg>
    <div class="text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conectare</h2>
      <p class="mt-4 text-lg leading-6 text-gray-500">Conecteaza-te pentru a-ti duce planurile pana la final.</p>
      @if (ViewBag.Error != null){
                <div class="rounded-md bg-red-50 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <heroicon kind="Mini" name="XCircle" class="h-5 w-5">
                        </div>
                        <div class="ml-3">
                            <h3 class="text-sm font-medium text-red-800">@ViewBag.Error</h3>
                        </div>
                    </div>
                </div>
      }
    </div>
    <div class="mt-12">
      <form asp-action="Login" class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
        <div class="sm:col-span-2">
          <label asp-for="Email" class="block text-sm font-medium text-gray-700">Email</label>
          <div class="mt-1">
            <input asp-for="Email" type="text" class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
          </div>
          <span asp-validation-for="Email" class="inline-flex items-center mt-2 rounded-md px-2.5 py-0.5 text-sm font-medium text-red-800"></span>

        </div>
        <div class="sm:col-span-2">
          <label asp-for="Password" class="block text-sm font-medium text-gray-700">Parola</label>
          <div class="mt-1">
            <input asp-for="Password" class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
          </div>
          <span asp-validation-for="Password" class="inline-flex items-center rounded-md px-2.5 mt-2 py-0.5 text-sm font-medium text-red-800"></span>

        </div>
        <div class="sm:col-span-2">
          <button type="submit" class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Let's talk</button>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
