<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlightReservationsApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlightReservationsApplication.styles.css" asp-append-version="true" />
</head>

<body class="h-full">
        <header>
            <nav class="bg-white shadow">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 justify-between">
                    <div class="flex">
                        <div class="flex flex-shrink-0 items-center">
                            <span class="sr-only">Flight Reservations</span>
                            <img class="h-10 w-auto" src="/lib/pictures/IconMain.png" alt="">
                        </div>
                        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                            <a asp-controller="Accounts" asp-action="Index" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Accounts</a>
                            <a asp-controller="CreditCards" asp-action="Index" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Credit Cards</a>
                            <a href="#" class="inline-flex items-center border-b-2 border-blue-500 px-1 pt-1 text-sm font-medium text-gray-900">Acasa</a>
                            <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Zboruri</a>
                            <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Aeroport</a>
                            <a href="#" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Calendar</a>
                        </div>
                    </div>
                    <div class="hidden sm:ml-6 sm:flex sm:items-center">
                        <div class="relative ml-3">
                            <div>
                                <button type="button" class="font-bold flex bg-white text-md text-zinc-900 hover:text-blue-700 transition-all transition ease-in-out duration-300" id="user-menu-button" onclick="setPopover()" aria-expanded="false" aria-haspopup="true">
                                    <heroicon class="h-6 w-6 mx-2" id="mobile-closed" kind="Solid" name="UserCircle" /> Autentificați-vă
                                </button>
                            </div>

                            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none d-none" id="user-popover" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex items-center sm:hidden">
                        <button type="button" id="mobile-button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" onclick="setMenu()" aria-expanded=" false">
                            <span class="sr-only">Open main menu</span>
                            <heroicon class="h-4 w-4 d-none" id="mobile-opened" kind="Solid" name="XMark" />
                            <heroicon class="h-4 w-4" id="mobile-closed" kind="Solid" name="Bars3BottomRight" />
                        </button>
                    </div>
                </div>
            </div>

            <div class="sm:hidden d-none" id="mobile-menu">
                <div class="space-y-1 pt-2 pb-3">
                    <a href="#" class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700">Dashboard</a>
                    <a href="#" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Team</a>
                    <a href="#" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Projects</a>
                    <a href="#" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700">Calendar</a>
                </div>
                <div class="border-t border-gray-200 pt-4 pb-3">
                    <div class="flex items-center px-4">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                        </div>
                        <div class="ml-3">
                            <div class="text-base font-medium text-gray-800">Tom Cook</div>
                            <div class="text-sm font-medium text-gray-500">tom@example.com</div>
                        </div>
                        <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                            </svg>
                        </button>
                    </div>
                    <div class="mt-3 space-y-1">
                        <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Your Profile</a>
                        <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Settings</a>
                        <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Sign out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
       var popover = $("#user-popover");
       var mobileOpened = $("#mobile-opened");
       var mobileClosed = $("#mobile-closed");
       var mobileMenu = $("#mobile-menu");
       var userBtn = $("#user-menu-button");
       var mobileBtn = $("#mobile-button");
       function setPopover(){
           if (popover.hasClass("d-block")){
               setClass(popover,true);
           }else{
                setClass(popover, false);
           }
       }

       function setMenu(){
           if (mobileMenu.hasClass("d-block")){
                setClass(mobileMenu, true);
                setClass(mobileOpened, true);
                setClass(mobileClosed, false);
            }else{
                setClass(mobileMenu, false);
                setClass(mobileOpened, false);
                setClass(mobileClosed, true);
            }
       }

        $(document).click(function (event) {
            if (!$(event.target).closest(popover).length && !$(event.target).closest(userBtn).length) {
                setClass(popover, true);
            }
            if (!$(event.target).closest(mobileMenu).length && !$(event.target).closest(mobileBtn).length) {
                setClass(mobileMenu, true);
                setClass(mobileOpened, true);
                setClass(mobileClosed, false);
            }
        });

        window.addEventListener("resize", function () {
            setClass(mobileMenu, true);
            setClass(mobileOpened, true);
            setClass(mobileClosed, false);
            setClass(popover, true);

        })

        function setClass(element, value){
            element.removeClass(value ? "d-block" : "d-none");
            element.addClass(!value ? "d-block" : "d-none");
        }
    </script>

</body>
</html>
