@model FlightReservationsApplication.Models.Flight

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AircraftID" class="control-label"></label>
                <select asp-for="AircraftID" class ="form-control" asp-items="ViewBag.AircraftID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AirlineID" class="control-label"></label>
                <select asp-for="AirlineID" class ="form-control" asp-items="ViewBag.AirlineID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartureAirportID" class="control-label"></label>
                <select asp-for="DepartureAirportID" class ="form-control" asp-items="ViewBag.DepartureAirportID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalAirportID" class="control-label"></label>
                <select asp-for="ArrivalAirportID" class ="form-control" asp-items="ViewBag.ArrivalAirportID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstClassCapacity" class="control-label"></label>
                <input asp-for="FirstClassCapacity" class="form-control" />
                <span asp-validation-for="FirstClassCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyClassCapacity" class="control-label"></label>
                <input asp-for="EconomyClassCapacity" class="form-control" />
                <span asp-validation-for="EconomyClassCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
